#gameCanvasContainer{
    position: relative;
}

#gameCanvas {
    position: absolute;
    border: 1pt solid;
}

#gameCanvasContainer>div.btnGroup {
    font-size: 0;
    position: absolute;
}

#gameCanvasContainer>div.btnGroup>button {
    border: 1px solid gray;
    font-size: 8px;  /* should set this dynamically if used */
}

button.slotButton {
    background-color: wheat;
    opacity: 1.0;
}

button.slotButton:hover:enabled {
    background-color: tan;
}

button.ship {
    border-radius: 50%
}
