#gameCanvasContainer{
    position: relative;
}

#gameCanvas {
    position: absolute;
    border: 1pt solid;
}

#gameCanvasContainer>div.beachGroup {
    font-size: 0;
    position: absolute;
}

#landingGroup {
    font-size: 0;
    position: absolute;
}
/*#gameCanvasContainer>div.btnGroup>button*/
button.slotButton {
    /*font-size: 8px;  /* should set this dynamically if used */
}

button.slotButton:enabled {
    border: 1px solid dimgray;
    background-color: burlywood;
    opacity: 1.0;
}

button.slotButton:disabled {
    border: 1px solid gray;
    background-color: wheat;
}

button.slotButton:hover:enabled {
    background-color: tan;
}

button.dragHover {
    background-color: tan !important;
}

button.ship {
    border-radius: 50%;
    border: 1px solid black;
}

button.islandName {
    position: absolute;
    font: 20px Arial;
}

button.islandName:enabled {
    border-radius: 10%
}

button.islandName:disabled {
    background-color: transparent;
    color: white;
    border: none;
}

button.sailButton {
    position: absolute;
    font: 20px Arial;
    border-radius: 50%;
}

button.sailButton:disabled {
    opacity: 0.0;
    z-index: -1;
}
