#gameCanvasContainer{
    position: relative;
}

#gameCanvas {
    position: absolute;
    border: 1pt solid;
}

#gameCanvasContainer>div.btnGroup {
   font-size: 0;
   position: absolute;
}

#gameCanvasContainer>div.btnGroup>button {
    font-size: 100%;
}

button.shipButton {
    opacity: 1.0;
}
